/* Set up body flex container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    -webkit-user-select: none;
    user-select: none;
}

/* Container layout */
.container {
    /* Set relative position */
    position: relative;
    /* Enable flexbox */
    display: flex;
    /* Set direction and alignment */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Set gap between elements */
    gap: 30px;
    /* Apply background gradient */
    background: linear-gradient(
        325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%);
    /* Add padding for space */
    padding: 40px 60px;
}
h2 {
    /* 3em font size, uppercase text, and custom colors */
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;

    /* Reduced letter spacing for better readability */
    letter-spacing: 0.1em;
}

.reset {
    margin-top: 10px;
    /* Set padding */
    padding: 15px 20px;
    /* Set width */
    width: 100%;
    /* Set text color */
    color: #000;
    /* Set background color */
    background-color: #ffffff;
    /* Remove border */
    border: none;
    /* Set font size */
    font-size: 1.5em;
    /* Add letter spacing */
    letter-spacing: 0.1em;
    /* Set text transform */
    text-transform: uppercase;
    /* Set cursor style */
    cursor: pointer;
    /* Set font weight */
    font-weight: 600;
}

.reset:focus {
    /* color change on focus */
    color: #ec38bc;

    /* background color change on focus */
    background-color: #262809;
}

.game {
    width: 430px; /* Set game width */
    height: 430px; /* Set game height */
    display: flex; /* Enable flexbox layout */
    flex-wrap: wrap; /* Allow flex items to wrap */
    gap: 10px; /* Set gap between flex items */
    transform-style: preserve-3d; /* Enable 3D transformations */
    perspective: 500px; /* Set 3D perspective */
    
}

.item {
    /* Relative positioning */
    position: relative;
    /* 100px width and height */
    width: 100px;
    height: 100px;
    /* Flex container for centering content */
    display: flex;
    justify-content: center;
    align-items: center;
    /* White background color */
    background-color: #ffffff;
    /* Emoji's size */
    font-size: 5em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    opacity: 85%;
    inset: 0;
    background-color: #aeaeae;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

/* Adicione essas regras de mídia para estilos específicos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    body {
        /* Para garantir que o conteúdo ocupe a largura total da tela */
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    h2 {
        /* 3em font size, uppercase text, and custom colors */
        text-align: center;
    }

    .container {
        /* Ajuste o padding para telas menores */
        padding: 20px;
        width: 100vh;
        height: 100vh;
    }

    .game {
        /* Ajuste a largura do jogo para telas menores */
        width: 100%;
        /* Ajuste a altura do jogo para telas menores ou remova para ocupar o espaço necessário */
        height: 300px;
        justify-content: space-around;
        gap: 9px;
    }

    .item {
        /* Ajuste a largura e a altura dos itens para telas menores */
        width: 22%;
        height: 25%;
        /* Ajuste o tamanho da fonte para telas menores */
        font-size: 2em;
    }
}
